<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">新規ユーザ登録</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :職業 %>
          <%= f.text_field :job, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワードの確認 %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group text-center ">
          <%= f.submit "新規登録", class: 'btn btn-primary btn-block mt-4' %>
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in mt-4", method: :post %>
        </div>
      <% end %>
      <div class="text-center mt-4 md-5">
        登録済みの方はこちらから<%= render "public/shared/links" %>
        <%= link_to "管理者ログイン", new_admin_session_path, method: :post %>
      </div>
    </div>
  </div>
</div>
